.footer button {
  float: right;
  margin: 7px;
  padding: 5px 15px;
  border-radius: 25px;
  border: 0.5px solid brown;
}

.btnOrder {
  background-color: brown;
  color: white;
}
.btnClose {
  background-color: transparent;
  color: brown;
}
.totalAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px;
}
